<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="classes">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
	</listeners>
	<test name="Test">
		<parameter name="userName" value="tomsmith" />
		<parameter name="password" value="SuperSecretPassword!" />
		<classes>
			<class name="testNG.activity4_4" />
			<class name="testNG.dataProviderDemo" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
